<div th:fragment="modalDeleteCategory" class="modal fade" id="modalDeleteCategory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Borrar categoria</h5>
        <button type="button" class="btn-close" id="close-delete-category" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Seguro quieres borrar la categoria <span class="strong" id="modal-delete-category"></span>
        , todos los productos asociados a esta categoria tambien seran eliminados
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-danger" id="btn-delete-category">Borrar</button>
      </div>
    </div>
  </div>
</div>